{"name":"PuttSpeak","slug":"PuttSpeak","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.aryanshah.PuttSpeak"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"permissions":["android.permission.RECORD_AUDIO"]},"web":{"favicon":"./assets/favicon.png"},"plugins":[["@react-native-voice/voice",{"microphonePermission":"Allow Voice to Text Tutorial to access the microphone","speechRecognitionPermission":"Allow Voice to Text Tutorial to securely recognize user speech"}]],"extra":{"eas":{"projectId":"880978b2-3627-4ce5-92bf-cea0a4f447a6"}},"sdkVersion":"51.0.0","platforms":["ios","android"]}